@import url('https://fonts.googleapis.com/css?family=Jura:400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Michroma');

html {
    background: white;
    min-width: 1280px;
    min-height: 720px;
    overflow: auto;

    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
}

body {
    min-width: 760px;
    padding: 20px;
}

h1{
    font-family: "Michroma", sans-serif;
    font-size: 3em;

    color: #002395;
    letter-spacing: normal;
    text-transform: uppercase;

    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-family: "Jura", sans-serif;
    font-size: 1.5em;
    letter-spacing: normal;
    text-transform: lowercase;
    color: #ED2939;
}

div#div_buttons {
    margin-left: 110px;
    margin-right: 20px;
}

div#wrapper {
    display:table;
}

div#row {
    display:table-row;
}

div#tooltip {
    display:table-cell;
    width: 848px;
    height: 480px;
    margin-top: 40px;
    padding: 10px;
    float: left;
}

.progress {
    /*display:table-cell;*/
    width:432px;
    height: 250px;
    padding: 10px;
    float: right;
}

#picSource {
    font-size: 10px;
    height: 100%;
}

.div_boxes {
    display: block;
    background: white;
    background-clip: content-box;
    width: 100%;
    height: 100%;
    min-height: 625px;
    box-sizing: border-box;
    padding: 10px;

}

div#helper_text1,
div#helper_text2 {
    display: none;
    margin: 0 auto;
    font-size: 1em;
}

.div_boxes svg,
.div_boxes canvas {
    font: 10px sans-serif;
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin: auto;
}

.parcoords path {
    fill: none;
    stroke: steelblue;
}

.parcoords path.fade {
    stroke: #000;
    stroke-opacity: .1;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
    cursor: move;
    fill: black;
}

button {
    background: rgba(0, 35, 149, 0.75);
    border: none;
    height: 30px;
    padding: 0px 10px;
    margin: 0px auto;
    text-align: center;

    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: white;
}

button:hover {
    background: rgba(237, 54, 61, 0.75);
    cursor: pointer;
}

button:focus {
    outline: 0;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
